---
import Layout from "../layouts/Layout.astro";
import WhatsAppFloatingButton from "../components/WhatsAppFloatingButton";
import HeadingSection from "../components/HeadingSection.astro";
import AboutSection from "../components/AboutSection.astro";
---

<Layout title="Soil">
  <main>
    <HeadingSection />
    <AboutSection />
    <WhatsAppFloatingButton client:load />
  </main>
</Layout>
