---

---

<section class="bg-white h-[80dvh] max-h-[900px]">
  <div>
    <h2 class="text-[#55AB69] text-5xl font-rossanovaMedium">
      Descubre la magia de vivir en Pueblo Libre
    </h2>
  </div>
</section>
