---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/assets/natturale_white_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    color-scheme: light dark;
    scrollbar-gutter: stable;
  }

  @tailwind base;

  @layer base {
    @font-face {
      font-family: "Roboto Mono Variable";
      font-style: normal;
      font-display: swap;
      font-weight: 100 700;
      src: url(@fontsource-variable/roboto-mono/files/roboto-mono-latin-wght-normal.woff2)
        format("woff2-variations");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  }

  @layer base {
    @font-face {
      font-family: "Rossanova";
      src: url(/fonts/Rossanova/Rossanova-Regular.otf);
      font-weight: normal;
      font-style: normal;
    }
  }

  @layer base {
    @font-face {
      font-family: "Rossanova-bold";
      src: url(/fonts/Rossanova/Rossanova-Bold.otf);
      font-weight: 700;
      font-style: normal;
    }
  }

  @layer base {
    @font-face {
      font-family: "Rossanova-medium";
      src:
        url(/fonts/Rossanova-medium/4689rossanova-medium.woff2) format("woff2"),
        url(/fonts/Rossanova-medium/4689rossanova-medium.woff) format("woff");
      font-display: auto;
    }
  }

  @layer base {
    @font-face {
      font-family: "Amina";
      src: url(/fonts/Amina/Amina-Regular.woff);
      font-weight: normal;
      font-style: normal;
    }
  }
</style>
